<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <link rel="stylesheet" th:href="@{/style/indexstyle.css}">
  <title>Home</title>
</head>
<body class="bg-light">

<header class="d-flex flex-wrap bg-primary justify-content-center w-100 py-3 mb-4 border-bottom shadow">
  <a href="/home" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none" style="margin-left: 15px;">
    <img src="https://i.pinimg.com/originals/af/1d/25/af1d25b221d4c5a7231225f4b1566d1c.png" height="55" class="d-inline-block align-top" alt="">
    <span class="fs-4 text-light">Auctioneer</span>
  </a>

  <ul class="nav nav-pills" style="margin-right: 30px;">
    <li class="nav-item"><a disabled class="nav-link text-light" aria-current="page">Əsas səhifə</a></li>
    <li class="nav-item"><a href="/profile" class="nav-link text-white">Profil</a></li>
  </ul>
</header>

<div class="col-md-11 mx-auto bg-white shadow-sm rounded-3" id="centerarea">
  <br>
  <div class="row justify-content-between">
  <div class="bg-info py-2 rounded-3 text-white text-center mx-3 w-25">
    Aktiv hərraclar
  </div>
  <a th:if="${user != null}" th:href="'/user/'+${user.getUsername()}+'/add_auction'" class="col-6 w-25 py-2 btn btn-primary">Yeni hərrac başla</a>
  </div>
  <hr class="mx-2">
  <br>

  <div class="d-flex flex-wrap">

<!--    <tr th:each="lot,lotloop: ${lotList}" th:if="${lot.getStartDate() != null && lot.getStartDate().isBefore(#temporals.createNow()) && lot.getStatus() == 1}">-->
    <tr th:each="lot,lotloop: ${lotList}" th:if="${lot.getStartDate() != null && lot.getStatus() == 1}">

      <div class="item col-md-3 mx-auto" style="max-height: 25rem;">
        <div style="height: 65%;">
          <div class="d-flex justify-content-center text-center" style="height: 15rem;">
            <div class="row h-100 d-inline-block" >
              <div th:id="'carouselindicators' + ${lotloop.index}" class="carousel slide h-100 d-flex align-content-center" data-bs-ride="carousel">

                <div th:if="${lot.getIds().size() > 1}">
                  <div th:class="carousel-indicators" >
                    <button th:each="img,ids: ${lot.getIds()}" th:if="${ids.index == 0}" type="button" th:data-bs-target="'#carouselindicators' + ${lotloop.index}" th:data-bs-slide-to="${ids.index}" class="active bg-secondary" aria-current="true" th:aria-label="'Slide ' + ${ids.index+1}"></button>
                    <button th:each="img,ids: ${lot.getIds()}" th:unless="${ids.index == 0}" type="button" th:data-bs-target="'#carouselindicators' + ${lotloop.index}" th:data-bs-slide-to="${ids.index}" class="bg-secondary" th:aria-label="'Slide ' + ${ids.index+1}"></button>

                    <!--                  <button type="button" th:data-bs-target="'#carouselindicators' + ${lotloop.index}" data-bs-slide-to="0" class="active bg-secondary" aria-current="true" aria-label="Slide 1"></button>-->
                    <!--                  <button type="button" th:data-bs-target="'#carouselindicators' + ${lotloop.index}"  data-bs-slide-to="1" class="bg-secondary" aria-label="Slide 2"></button>-->
                    <!--                  <button type="button" th:data-bs-target="'#carouselindicators' + ${lotloop.index}"  data-bs-slide-to="2" class="bg-secondary" aria-label="Slide 3"></button>-->
                  </div>
                </div>

                <div class="carousel-inner h-100 d-flex align-content-center align-items-center"  th:onclick="'window.location.href = ' + 'lots/' + ${lot.getId()}">

                  <div class="carousel-item active" th:each="img,ids: ${lot.getIds()}" th:if="${ids.index == 0}">
                    <img th:src="'https://ucarecdn.com/' + ${img} + '/'" class="mw-100" style="max-height:15rem; max-width: 100%;" >
                  </div>
                  <div class="carousel-item" th:each="img,ids: ${lot.getIds()}" th:unless="${ids.index == 0}">
                    <img th:src="'https://ucarecdn.com/' + ${img}  + '/'" class="mw-100" style="max-height:15rem; max-width: 100%;">
                  </div>

                </div>
                <div th:if="${lot.getIds().size() > 1}">

                <button class="carousel-control-prev" type="button" th:data-bs-target="'#carouselindicators' + ${lotloop.index}" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" th:data-bs-target="'#carouselindicators' + ${lotloop.index}" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
                </div>
              </div>
            </div>

          </div >
        </div>

        <hr>
        <div class="bottom justify-content-center my-auto d-flex">
          <div class="text-center">
            <a class="textLink mb-2 text-dark text-decoration-none hoverable link-dark" th:href="'lots/' + ${lot.getId()}" th:text="${lot.getLotName()}"></a>
            <td>
              <h5 th:if="${lot.getCurrentBid() > 0}" th:text="'Öndə olan təklif: ' + ${lot.getCurrentBid()}"></h5>
              <h5 th:unless="${lot.getCurrentBid() > 0}" th:text="'Başlanğıc qiymət: ' + ${lot.getStartingPrice()}"></h5>
            </td>
            <h6 class="timerDiv text-secondary" th:data="${lot.getEndDate()}" >End time</h6>
          </div>

        </div>
      </div>

    </tr>



    <div class="col-md-3 mx-auto fillitem">
    </div>
    <div class="col-md-3 mx-auto fillitem">
    </div>
    <div class="col-md-3 mx-auto fillitem">
    </div>


  </div>


</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script th:src="@{/js/index.js}"></script>
</body>
</html>