<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <link th:href="@{/style/style.css}" rel="stylesheet">

  <title>Create auction</title>
</head>
<body>

<form class="form-signin page" enctype="multipart/form-data" method="post" th:action="@{/open/api/lots/save}" th:object="${lot}" >
  <!--  class="registerForm"-->

  <div class="form-label-group">
    <label>Item images</label>
    <br><br>
    <input type="file" required multiple name="files" class="form-control" placeholder="Images"  >
  </div>

  <div class="form-label-group">
    <input type="text" id="lotName" required th:field="*{lotName}" class="form-control" placeholder="Hərracın adı"  >
    <label for="lotName">Hərracın adı</label>
  </div>

  <div class="form-label-group">
    <input type="text" id="description" required th:field="*{description}" class="form-control" placeholder="Hərrac haqqında məlumat"  >
    <label for="description">Hərrac haqqında məlumat</label>
  </div>

  <select class="form-select" id="type" required th:field="*{type}" aria-label="Auction type selects">
    <option selected value="0">Standart</option>
    <option value="1">Blitz</option>
  </select>
  <br>

  <div class="form-label-group">
    <input type="number" step="0.01" min="0.01" id="reservePrice" required th:field="*{reservePrice}" class="form-control" placeholder="Rezerv qiyməti"  >
    <label for="reservePrice">Rezerv qiyməti</label>
  </div>

  <div class="form-label-group">
    <input type="number"  step="0.01" min="0" id="startingPrice" required th:field="*{startingPrice}" class="form-control" placeholder="Başlanğıc qiymət"  >
    <label for="startingPrice">Başlanğıc qiymət</label>
  </div>


  <div class="form-label-group">
    <input type="number"  step="0.01" min="0" id="bidStep" required th:field="*{bidStep}" class="form-control" placeholder="Minimal qiymət artımı addımı"  >
    <label for="bidStep">Minimal qiymət artımı addımı</label>
  </div>

  <div class="form-label-group">
    <input type="datetime-local" id="startDate" th:min="${#dates.format(#dates.createNow(), 'yyyy-MM-dd''T''HH:mm:ss')}" oninput="minChanged()" required th:field="*{startDate}" class="form-control" >
    <label for="startDate">Hərracın başlama vaxtı</label>
  </div>

  <div class="form-label-group">
    <input type="datetime-local" id="endDate" required oninput="maxChanged()" th:field="*{endDate}" class="form-control">
    <label for="endDate">Hərracın bitmə vaxtı</label>
  </div>

  <br>
  <input class="btn btn-lg btn-primary btn-block" type="submit" value="Submit" />

</form>


<script type="text/javascript" th:src="@{/js/newauctionscripts.js}"></script>
</body>
</html>